.Menu {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    max-width: 400px;
    /*flex-direction: column;*/
}

.Menu img {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border: 1px solid #ccc;
}

.Menu p{
    margin-right: 30px;
}

.Menu button {
    margin-left: auto
}